@import "tailwindcss";

@import "tailwindcss";

:root {
  /* Base */
  --background: #0b1220;
  --foreground: #ffffff;
  /* Brand */
  --primary: #2563eb;
  --primary-hover: #3b82f6;
  /* Accents */
  --secondary: #6366f1;
  --accent: #22d3ee;
  /* UI */
  --surface: #111827;
  --border: #1f2937;
  /* Text */
  --muted: #9ca3af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-muted: var(--muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .app-container {
    @apply w-full mx-auto px-6 sm:px-10 md:px-16 lg:px-24 xl:px-32 max-w-360;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-black/70 hover:text-black cursor-pointer transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-gray-300 hover:bg-gray-400 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }
}